body
{
    font-family: 'Outfit', sans-serif;
    background-color:hsl(217, 54%, 11%);
    background-size:1440px;
    background-repeat: no-repeat;
    padding:0;
    margin:0 auto ;
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;   
}
#card
{
    background-color:hsl(216, 50%, 16%);
    width:290px;
    padding:15px;
    border-radius:15px;
}
.image
{
    background-image: url(images/image-equilibrium.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width:290px;
    height:290px; 
    border-radius:15px;
}
.imagehover
{
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    height:290px;
    width: 290px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    border-radius:15px;
}
.imagehover:hover
{
    background-color: hsl(178, 100%, 50%);
    opacity: 60%;
}
h2
{
    color:hsl(0, 0%, 100%);  
}
.text a
{
    text-decoration: none;
}
h2:hover
{
    color:hsl(178, 100%, 50%);
}
p
{
    font-size: 18px;
    color:hsl(215, 51%, 70%);
}
.cost
{
    padding:0px 0 15px 0;
}
.cost p
{
    display:inline;
    text-align: center;
}
p span
{
    color:hsl(178, 100%, 50%);
    padding:0 70px 0 0;
}
svg
{
    padding:0px 10px 0 0;
    position: relative;top:2px;
}
.avatar
{
    padding:10px 0;
    border-top:1px solid hsl(215, 32%, 27%);
    color:hsl(215, 51%, 70%);
}
img
{
    position: relative;top:12px;
    border:2px solid white;
    border-radius: 100%;
}
.avatar img
{
    margin-right:20px;
}
.avatar a
{
    text-decoration: none;
    color:white;
    
}
.avatar a:hover
{
    color:hsl(178, 100%, 50%);
}
.attribution 
{ 
    font-size: 11px;
    text-align: center; 
}
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}
